In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model
import kagglehub
from kagglehub import KaggleDatasetAdapter

In [ ]:

df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "mann14/global-ai-and-data-science-job-market-20202026",
    "ai_jobs.csv"
)

print("first 5 records :", df.head())
print("data frame categories :", df.dtypes)
print("data frame columns : ", df.columns)

In [ ]:
df.dropna()
print("after dropping null values :", df.head())

In [ ]:

df_de = df[df["country"] == "Germany"]
print("Germany market")
print(df_de.head())
print("Data fram shape :")
print(df_de.shape[0])

In [25]:
df_analyzed_1 = df_de.drop(columns=["company_size", "employment_type", "min_experience_years", "experience_level", "job_id", "company_type", "city", "remote_type", "industry"])
print (df_analyzed_1.head())

            job_title  country  salary_min_usd  salary_max_usd  posted_year
1        Data Analyst  Germany           54803           85599         2024
10       Data Analyst  Germany           56209           65070         2023
13  Applied Scientist  Germany           60021           86429         2024
16       Data Analyst  Germany          102067          115885         2026
18  Applied Scientist  Germany          146311          173893         2021