In [2]:
import numpy as np
import pandas as pd
import kagglehub
from kagglehub import KaggleDatasetAdapter

In [16]:

df = kagglehub.load_dataset(
    KaggleDatasetAdapter.PANDAS,
    "mann14/global-ai-and-data-science-job-market-20202026",
    "ai_jobs.csv"
)

print("first 5 records :", df.head())
print("data frame categories :", df.dtypes)
print("data frame columns : ", df.columns)

C:\Users\PC\AppData\Local\Temp\ipykernel_23992\3401527479.py:1: DeprecationWarning: Use dataset_load() instead of load_dataset(). load_dataset() will be removed in a future version.
  df = kagglehub.load_dataset(

first 5 records :          job_id                  job_title  company_type    industry  \
0  0IFD0TVBDIVU             MLOps Engineer  Research Lab   Education
1  ZMF8MDD4V30T               Data Analyst       Startup   Education
2  CX1945NQ4FMY             MLOps Engineer  Research Lab        Tech
3  QJ7YHL1C32OC          Applied Scientist  Research Lab  Healthcare
4  F0T0PVN9ER14  Machine Learning Engineer  Research Lab     Finance

     country    city remote_type experience_level  min_experience_years  \
0  Australia  Remote      Remote            Entry                     0
1    Germany  Remote      Remote            Entry                     0
2     Canada  Remote      Remote           Senior                     5
3  Australia  Remote      Remote            Entry                     0
4  Australia  Sydney      Hybrid              Mid                     2

   salary_min_usd  salary_max_usd employment_type  posted_year company_size
0           56873           72223       Full-time         2023        Large
1           54803           85599       Full-time         2024       Medium
2          149980          175806       Full-time         2021        Large
3           53483           86477       Full-time         2023       Medium
4          102977          127298       Full-time         2023        Large
data frame categories : job_id                  object
job_title               object
company_type            object
industry                object
country                 object
city                    object
remote_type             object
experience_level        object
min_experience_years     int64
salary_min_usd           int64
salary_max_usd           int64
employment_type         object
posted_year              int64
company_size            object
dtype: object
data frame columns :  Index(['job_id', 'job_title', 'company_type', 'industry', 'country', 'city',
       'remote_type', 'experience_level', 'min_experience_years',
       'salary_min_usd', 'salary_max_usd', 'employment_type', 'posted_year',
       'company_size'],
      dtype='object')

In [ ]:
df.dropna()
print("after dropping null values :", df.head())

In [20]:

df_de = df[df["country"] == "Germany"]
print("Germany market")
print(df_de.head())
print("Data fram shape :")
print(df_de.shape[0])

Germany market
          job_id          job_title  company_type    industry  country  \
1   ZMF8MDD4V30T       Data Analyst       Startup   Education  Germany
10  P5TB94874FRH       Data Analyst       Startup     Finance  Germany
13  AWUDTSEMCIKP  Applied Scientist  Research Lab  Healthcare  Germany
16  HID25OWF7593       Data Analyst       Startup     Finance  Germany
18  9T7E8G8JDP0L  Applied Scientist  Research Lab        Tech  Germany

         city remote_type experience_level  min_experience_years  \
1      Remote      Remote            Entry                     0
10     Munich      Hybrid            Entry                     0
13    Hamburg      Hybrid            Entry                     0
16     Remote      Remote              Mid                     2
18  Frankfurt      Onsite           Senior                     5

    salary_min_usd  salary_max_usd employment_type  posted_year company_size
1            54803           85599       Full-time         2024       Medium
10           56209           65070       Full-time         2023       Medium
13           60021           86429       Full-time         2024        Small
16          102067          115885       Full-time         2026       Medium
18          146311          173893       Full-time         2021       Medium
Data fram shape :
8345

In [ ]:
df_analyzed = df_de.drop(columns=["", ])